* {
    box-sizing: border-box;
}

body{
    font-family: Calibri, sans-serif;
    margin: 0;
}

.top{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* header styling */
header{
    white-space:pre-line;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #DEE4E6;
    flex: 1;
}

header a{
    text-decoration: none;
}

header h1:hover{
    color:#968066;
}

header h1{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

/* navigation styling */
nav {
    overflow: hidden;
    background-color: #DEE4E6;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    flex: 5;
    height: auto;
    flex-wrap: wrap;
}

nav a{ 
    font-size: 22px;
    font-weight: bold;
    text-align: center;   
    padding: 10px 20px;   
    text-decoration: none;
    color: #968066;
}

nav a:hover{
    color:#566C6F;
}

/* styiling of different headings */
h1, h2, h3{
    font-family: 'Calibri light', sans-serif;
    color: #566C6F;
}
    h2{
        font-size: 36px;
    }

    h1{
        color:#566C6F;
    }
        .logo{
            font-size: 30px;
            margin:0;
        }
            .logo2{
                font-size: 50%;
                color: #968066;
            }

/* main styling */

p, h2, address{
    padding-left: 20px;
}

#main-home{
    background-image: url(..//images/restaurant.jpg);
    background-size: cover;
    padding: 50px 10px 480px 10px;
    text-shadow: 1px 1px 2px #DEE4E6;
}

#main-contact, #main-hours, #main-booking{
    display: flex;
}
/* div1 is the side of the screen that displays the embedded media, div2 contains information and is smaller */
    .div1{
            width: 60%;
            padding: 10px;
        }

    .div2{
        width:40%;
        text-align: justify;
        padding: 10px;
    }

    iframe{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

main, footer{
    color:#566C6F;
}

/* styling of the menu page */
#pdf{
    background-color: #9d9d9c;
    color: #DEE4E6;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}  

    #pdf:hover{
        background-color: #566C6F;
    }

    .menu, h3{
        white-space:pre-line;
        text-align: left;
        padding: 20px;
        margin: 10px;
    }

    .price{
        font-size: smaller;
        font-weight: bold;
        color: #BFAD9A;
    }

    #appetizers, #main, #dessert, #beverages{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #BFAD9A;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color:#DEE4E6;
        text-shadow: 1px 1px 2px #566C6F;
        opacity: 80%;
    }
        #appetizers{
            background-image: url('../images/salmon.jpg');
        }
        #main{
            background-image: url('../images/lamb.jpg');
        }
        #dessert{
            background-image: url('../images/pavlova.jpg');
        }
        #beverages{
            background-image: url('../images/wine.jpg');
        }
/* styling of footer and its elements */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #DEE4E6;
}

    .disclaimers{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
        .disclaimers a{
            color: #968066;
            text-decoration: none;
        }
        .disclaimers a:hover{
            color: #566C6F;
        }

    footer img{
        width: 50px;
        padding: 10px;
    }

/* responsive hamburger menu */
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
        background: black;
        z-index: -1;
    }
    
    #main-menu {
      display: block;
      height: 100px;
      width: 100%;
      background: #DEE4E6;
      margin: 0px;  
      z-index: 9;
    }
    
    #main-menu ul {
      max-width: 800px;
      width: 100%;
      height: 100%;
      margin: 0px auto;
      padding: 0px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      z-index: 9;
    }
    
    #main-menu li {
      list-style-type: none;
      font-size: 2rem;
    }
    
    #main-menu a {
      color: #566C6F;
      font-size: 1.5rem;
      text-decoration: none;
    }
    
    #main-menu a:hover {
      text-decoration: underline;
    }
    
    #hamburger-input{
      display: none;
    }
    
    #hamburger-menu {
        position: fixed;
        top: 60px;
        right: 20px;
        width: 50px;
        height: 50px;
        display: none;
        border: none;
        padding: 0px;
        margin: 0px;
        font-family: Calibri, sans-serif;
        background: linear-gradient(
          to bottom, 
          #566c6f,#566c6f 20%, 
          #DEE4E6 20%,#DEE4E6 40%, 
          #566c6f 40%,#566c6f 60%, 
          #DEE4E6 60%,#DEE4E6 80%, 
          #566c6f 80% ,#566c6f 100% 
        );
    }
    
    #hamburger-menu #sidebar-menu {
        visibility: hidden;
        position: fixed;
        top: 150px;
        left: -250px;
        width: 180px;
        height: 300px;
        background-color: #DEE4E6;
        transition: 0.3s;
        padding: 0px 10px;
        box-sizing: border-box;
    }
    
    #hamburger-menu h3 {
      color: #566C6F;
      font-size: 2.2rem;
    }
    
    #hamburger-menu ul {
      padding-left: 0px;
    }
    
    #hamburger-menu li {
      list-style-type: none;
      line-height: 3rem;
    }
    
    #hamburger-menu a {
      color: #968066;
      font-size: 1.3rem;
      text-decoration: none;
    }
    
    #hamburger-menu a:hover {
      color: #566C6F;
    }
    
    #hamburger-input:checked + #hamburger-menu #sidebar-menu {
        visibility: visible;
        left: 0;
    }
    #hamburger-input:checked ~ .overlay{
       visibility: visible;
      opacity: 0.4;
    }
    
    
@media screen and (max-width: 750px) {
      #main-menu {
        display: none;
      }
      #hamburger-menu {
        display: inline;
      }
      nav{
        flex-direction: column;
        justify-content: flex-start;
      }
      nav a {
        text-align: left;
      }    
/* when displaying on mobile or other small screens, some content will display in columns rather than row for better readability*/ 

    #main-contact, #main-hours, #main-booking{
        display: flex;
        flex-direction: column;
    }
    .div1, .div2{
        width: 100%;
    }

    #desktop-menu{
        display: none;
    }
}
